body{
    padding-left: 10%;
    padding-right: 10%;
}


.header_txt{
    display: flex;
    background-color: rgb(214, 204, 60);
    height: auto;
    width: auto;
    padding: 50px;
}
.header_1{
    width: 55%;
    font-family: Arial, Helvetica, sans-serif;
    justify-items: center;
}
.info{
border-radius: 5px;
text-decoration: none;
color: rgb(0, 0, 0);
padding: 5px;
background-color: rgb(255, 255, 255);
}
.cor_prin{
    color: rgb(138, 8, 34);
    font-size: 25px;
    font-weight: bold;
}
.cor_ver{
    color: green;
}
.bar_top{
    display: flex;
    justify-content: center;
}

.top_bar,.top_bar_r{
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
}
.button{
    text-decoration: none;
    padding: 30px;
    color: rgb(33,22, 0  );
}
.button_img{
    border: none;
    height: 50px;
}
.button_br{
    text-decoration: none;
    color: white;
}
.button_br:hover{

    color: rgb(185, 181, 181);
}
.gif{
    align-self:center ;
    margin: auto;
    display: block;
    height: 250px;
    width: 700px;
}
.about_us{
    display: flex;
    height: auto;
    margin: 50px;
    align-items: center;
}
.about_us_es{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgb(104 69 69 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.about_us_di{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgb(104 69 69 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.space{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    justify-content: space-between;
}


.container_footer{
   background-color: rgb(3, 35, 61); 
}
.text_center{
   text-align: center; 
   color: crimson;
}
.color_prin{
    color: crimson;
}
.color_white{
color: white;
}
.color_2{
    color: rgb(73, 52, 9);
}
.social_media{
    justify-items: center;
}
.margin{
    padding: 10px;
}

.receitas_box{
    display: flex;
    flex-direction: column;
}
.receitas{
    display: flex;
    justify-content: space-around;
    
}

.receita{
    height: 350px;
    width: 300px;
    border-radius: 5%;
}
.button_receita{
    text-align: center;
    color: rgb(33,22, 0  );
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.button_receita:hover{
   color: rgb(78, 54, 5);
}
.login{
    height: fit-content;
    width: fit-content;
    justify-content: center;
}
.introduzir{
    padding: 25px;
    height: fit-content ;
    width: fit-content;
    text-align: center;
    font-weight: bold;
    color: black;
}
.login_2{
display: flex;
flex-direction: column;
align-items: center;
}
.centro{
    display: flex;
    justify-content: center;
}
.button_login{
    color: white;
    font-weight: bold;
    font-size: 25px;
    background-color: #0d6efd;
    height: fit-content;
    width: fit-content;
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 10px;
    border-color: #0d6efd ;
}
.button_quantidade{
    text-decoration: none;
    color: rgb(33,22, 0  );
    font-weight: bold;
    font-size: large;
}
.button_login:hover{
    background-color: #0b5cd6;
}
.button_login:active{
    background-color: #0b5cd6;
    box-shadow: 0 5px #0a326d;
    transform: translateY(4px);

}
.login{
    position: relative;
    display: flex;
    flex-direction: column;
}
.compras{
    display: flex;
    flex-direction: column;
}
.receita_carrinho{
    height: 300px;
    width: 300px;
    border-radius: 5%;
    padding-bottom: 10px;
}
.butao_laranja{
    margin-left: 20px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(226, 149, 6);
    border: none;
    border-radius: 15px;
}
.butao_laranja:active {
    background-color: rgb(226, 149, 6);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.butao_laranja:hover {background-color:rgba(226, 149, 6, 0.705)}
.total{
    display: flex;
    margin-bottom: 25px;

}
.carrinho_box{
    display: flex;
    align-items: center;
}
.crarrinho_dis{
    margin-left: 25px;
    
}
.preço{
    font-size: 15px;
}
.grid{
    width: fit-content;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: auto auto auto auto;
}
.beef{
    display: flex;
}
.text_receita{
    text-align: center;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(58, 42, 10);
}
.receita_texto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.comentarios{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}
.photo{
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;
}
.comentario{
    padding: 15px;

    box-shadow: 0 4px 8px 0 rgb(104 69 69 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin: 10px;
}
.comentario_1{
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgb(104 69 69 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin: 10px;
    width: 50%;
}
.padding{
    padding-left: 10px;
}
.flex{
    display: flex;
}
@media only screen and (max-width:800px) {
    .receitas{
        flex-direction: column;
        justify-content: center;
    }
    .receita{
       justify-self: center;
    }
    .receitas_box{
        justify-items: center;
    }
    .header_txt{
        flex-direction: column;
    }
    .about_us{
        flex-direction: column;
    }
    .carrinho_box{
        flex-direction: column;
    }
    .img_prin{
        width: 100%;
    }
    .beef{
        flex-direction: column;
    }
    .grid{
        grid-template-columns: auto;
    }
    .ir_centro{
        text-align: center;
    }
    .flex{
        flex-direction: column;
    }
    .comentarios{
        grid-template-columns: auto;
    }
    .comentario_1{
        width: auto;
    }
    .header_1{
        width: fit-content;
    }
}